<Reports>
    <OutputPath>Reports</OutputPath>
    <Excel>
        <DataStartRow>2</DataStartRow>
        <DataStartColumn>0</DataStartColumn>
        <HeaderRowStyle>
            <BackGroundColor>Grey</BackGroundColor>
            <Font>
                <Color>Black</Color>
                <Weight>Bold</Weight>
                <!--<Size>11</Size>-->
            </Font>
        </HeaderRowStyle>
        <EvenRowStyle>
            <BackGroundColor>LIGHT_GREEN</BackGroundColor>
        </EvenRowStyle>
        <OddRowStyle>
            <BackGroundColor></BackGroundColor>
        </OddRowStyle>
    </Excel>
    <Report Name="Form470Download" Description="Form470 Download">
        <Excel>
            <TemplatePath>Templates\Form470Report.xls</TemplatePath>
            <AutoGenerateHeader>True</AutoGenerateHeader>
        </Excel>
    </Report>
</Reports>