@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
@{
    ViewBag.Title = "Maintenance Page";
}

<div class="jumbotron">
    <div class="center-block">
        <h1 class="text-center">Maintenance</h1>
    </div>
    <p class="lead">@Html.Raw(@ViewBag.Message)</p>
</div>
