@model Web.Areas.UserAccount.Models.ChangeEmailFromKeyInputModel

@{
    ViewBag.Title = "Confirm Email";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.Title</legend>
        <div class="form-group col-md-12">
            @Html.EditorForModel()
        </div>

        <div class="form-group">
            <div class="col-md-offset-1">
                <input type="submit" value="Confirm Email" class="btn btn-info">
            </div>
        </div>
    </fieldset>
}
