@model Web.Areas.UserAccount.Models.AddSecretQuestionInputModel

@using (Html.BeginForm("Add", "ChangeSecretQuestion"))
{
    @Html.ValidationSummary("Error")
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Add Password Reset Secret</legend>

        @Html.EditorForModel()

        <div class="buttons">
            <button class="btn btn-info">Add Question/Answer</button>
        </div>
    </fieldset>
}
